*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  min-height: 100vh; }

body {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  color: white;
  background: #87c1e2; }

.h1 {
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 26px;
  color: white; }

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; }

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  max-width: 1000px;
  margin-top: -40px; }

.description,
.footer {
  text-transform: uppercase; }

.description {
  text-align: right;
  color: #c3e9ff; }

.footer {
  width: 100vw;
  padding: 24px 32px;
  font-size: 16px;
  text-align: center;
  color: #c3e9ff; }

.footer__logo {
  width: 160px;
  margin-top: 24px; }

.exit {
  display: flex;
  position: fixed;
  top: 15vh;
  left: 0;
  padding: 24px 16px 24px 32px;
  transform: translateX(-16px);
  background: #f37171;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease; }
  .exit:hover, .exit:focus {
    transform: translateX(0); }

.exit__icon {
  width: 24px;
  margin-left: 16px; }

.search {
  margin-top: 48px;
  width: 100%; }

.input-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 32px;
  border-top: 2px solid #c3e9ff;
  border-bottom: 2px solid #c3e9ff; }

.search-icon {
  width: 32px;
  margin-right: 24px;
  cursor: pointer; }

.find-country {
  border: none;
  outline: none;
  background: none;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  font-family: inherit;
  font-size: 32px;
  color: white; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c3e9ff;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c3e9ff; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c3e9ff; }

.autoComplete_list {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  max-height: 256px;
  overflow-y: auto;
  background: #87c1e2;
  list-style: none; }

.autoComplete_result,
.no-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  border-bottom: 2px solid #c3e9ff;
  color: #c3e9ff;
  padding-left: 88px;
  padding-right: 32px;
  transition: color 0.3s ease, background 0.3s ease; }
  .autoComplete_result:hover,
  .no-result:hover {
    color: white;
    background: rgba(255, 255, 255, 0.2); }

.autoComplete_highlighted {
  font-weight: 800;
  color: white; }

.action {
  display: inline-block;
  margin: 40px auto;
  padding: 8px 16px;
  border: 4px solid white;
  border-radius: 8px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  transition: color 0.3s ease, background 0.3s ease; }
  .action:hover, .action:focus {
    background: white;
    color: #87c1e2; }

.hidden {
  display: none; }
