$primary: #87c1e2;
$primaryLight: #c3e9ff;
$red: #f37171;
$base: 8px;
$searchBorder: 2px solid $primaryLight;
$transition: .3s ease;
$exitIconWidth: $base * 3;
$exitIconMargin: $base * 2;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;

  display: flex;
  flex-direction: column;
  color: white;
  background: $primary;
}

.h1 {
  margin-bottom: $base;
  font-weight: 800;
  font-size: 26px;
  color: white;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  max-width: 1000px;
  margin-top: -$base * 10;
}

.description,
.footer {
  text-transform: uppercase;
}

.description {
  text-align: right;
  color: $primaryLight;
  letter-spacing: 0.05em;
}

// .footer {
//   width: 100vw;
//   padding: $base*3 $base*4;
//   font-size: 16px;
//   text-align: center;
//   color: $primaryLight;
// }

// .footer__logo {
//   width: 160px;
//   margin-top: $base * 3;
// }

.exit {
  display: flex;
  position: fixed;
  top: 15vh;
  right: 0;
  padding: $base*3 $base*4 $base*3 $base*2;
  transform: translateX(#{calc(100% - #{$exitIconMargin*2+$exitIconWidth})});
  background: $red;
  color: white;
  text-decoration: none;
  transition: transform $transition;

  &:hover, &:focus {
    transform: translateX(0);
  }
}

.exit__icon {
  width: $exitIconWidth;
  margin-right: $exitIconMargin;
}


// ============ SEARCH FIELD =============

$searchHeight: $base * 8;
$searchPadding: $base * 4;
$searchIconWidth: $base * 4;
$searchIconMargin: $base * 3;

.search {
  margin-top: $base * 6;
  width: 100%;
}

.input-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $searchHeight;
  padding-left: $searchPadding;
  border-top: $searchBorder;
  border-bottom: $searchBorder;
}

.search-icon {
  width: $searchIconWidth;
  margin-right: $searchIconMargin;
  cursor: pointer;
}

.find-country {
  border: none;
  outline: none;
  background: none;
  border-radius: 0;
  box-shadow: none;

  width: 100%;
  font-family: inherit;
  font-size: 32px;
  color: white;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $primaryLight;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $primaryLight;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: $primaryLight;
}

.autoComplete_list {
  position: absolute;
  top: $searchHeight;
  left: 0;
  right: 0;
  max-height: $searchHeight * 4;
  overflow-y: auto;
  background: $primary;
  list-style: none;
}

.autoComplete_result,
.no-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $searchHeight;
  border-bottom: $searchBorder;
  color: $primaryLight;
  padding-left: $searchPadding + $searchIconWidth + $searchIconMargin;
  padding-right:$searchPadding;

  transition: color $transition, background $transition;

  &:hover {
    color: white;
    background: rgba(white, .2);
  }
}

.autoComplete_highlighted {
  font-weight: 800;
  color: white;
}

.action {
  display: inline-block;
  margin: $base*5 auto;
  padding: $base $base*2;
  border: 4px solid white;
  border-radius: $base;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 26px;

  transition: color $transition, background $transition;

  &:hover,
  &:focus {
    background: white;
    color: $primary;
  }
}

.hidden {
  display: none;
}