// VARS
$primary: #87c1e2;
$primaryLight: #c3e9ff;
$red: #f37171;

$fontsizeSmall: 16px;
$fontsizeBase: 22px;
$fontsizeBig: 26px;

$fontsizeBase--mobile: 18px;
$fontsizeBig--mobile: 22px;

$base: 8px;
$searchBorder: 2px solid $primaryLight;

$transition: .3s ease;

$exitIconWidth: $base * 3;
$exitIconMargin: $base * 2;


// MIXINS
@mixin media-sm {
  @media (max-width: 900px) { @content; }
}


// RESETS
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}


// STYLES

body {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-size: $fontsizeBase;
  font-style: normal;

  display: flex;
  flex-direction: column;
  color: white;
  background: $primary;

  @include media-sm {
    font-size: $fontsizeBase--mobile;
  }
}

.h1 {
  margin-bottom: $base;
  font-weight: 800;
  font-size: $fontsizeBig;
  color: white;

  @include media-sm {
    font-size: $fontsizeBig--mobile;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  @include media-sm {
    align-items: start;
    padding-top: 25vh;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  max-width: 1000px;
  margin-top: -$base * 10;

  @include media-sm {
    margin-top: 0;
    width: 80%;
    align-items: flex-start;
  }
}

.description,
.footer {
  text-transform: uppercase;
}

.description {
  text-align: right;
  color: $primaryLight;
  letter-spacing: 0.05em;

  @include media-sm {
    text-align: left;
  }
}

.footer {
  width: 100vw;
  padding: $base*3 $base*4;
  text-align: center;

  &, & a {
    font-size: $fontsizeSmall;
    color: $primaryLight;
  }

  a {
    transition: color $transition;

    &:hover, &:focus {
      color: white;
    }
  }
}

.footer__text,
.footer__link {
  display: inline-block;
}

.about {
  display: block;
  margin-bottom: $base * 4;
  padding: $base;
  color: inherit;
  font-family: inherit;
  font-size: $fontsizeBase;
  text-transform: uppercase;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

  transition: color $transition;

    &:hover, &:focus {
      color: white;
    }
}

.about__overlay {
  position: fixed;
  top: $base * 2;
  right: $base * 2;
  bottom: $base * 2;
  left: $base * 2;
  padding: $base * 2;
  background: white;
  color: $primary;
  z-index: 1000;
  overflow: hidden;
  
  opacity: 0;
  pointer-events: none;
  transition: opacity $transition;
  
  @include media-sm {
    padding-top: $base * 5;
  }
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;

  @include media-sm {
    display: block;
  }
}

.about__checkbox {
  position: absolute;
  display: none;

  &:checked {
    & + .about__overlay {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.about__headline {
  font-size: $fontsizeBig;
  margin-bottom: $base * 2;

  @include media-sm {
    text-align: left;
    font-size: $fontsizeBig--mobile;
  }
}

.about__text {
  text-transform: none;
  max-width: 750px;
  line-height: 1.5;

  @include media-sm {
    text-align: left;
  }
}

.about__close {
  position: absolute;
  top: $base * 3;
  right: $base * 3;
  width: $base * 4;
  height: $base * 4;
  cursor: pointer;

  @include media-sm {
    top: $base * 2;
    right: $base * 2;
    width: $base * 3;
    height: $base * 3;
  }
}

.about__close__icon {
  width: 100%;
  height: 100%;
}

.exit {
  display: flex;
  align-items: center;
  position: fixed;
  top: 15vh;
  right: 0;
  padding: $base*3 $base*4 $base*3 $base*2;
  transform: translateX(#{calc(100% - #{$exitIconMargin*2+$exitIconWidth})});
  background: $red;
  color: white;
  text-decoration: none;
  border: none;
  outline: none;
  font-size: inherit;
  cursor: pointer;
  transition: transform $transition;

  &:hover, &:focus {
    transform: translateX(0);
  }

  @include media-sm {
    top: 5vh;
    height: $exitIconWidth + $base*4;
    padding: $base*2 $base*2 $base*2 $base*3;
    transform: translate(0);
    opacity: .8;
  }
}

.exit__icon {
  width: $exitIconWidth;
  margin-right: $exitIconMargin;
}


// SEARCH FIELD

$searchHeight: $base * 7;
$searchPadding: $base * 4;
$searchIconWidth: $base * 4;
$searchIconMargin: $base * 3;

$searchHeight--mobile: $base * 6;
$searchPadding--mobile: $base;
$searchIconWidth--mobile: $base * 3;

.search {
  margin-top: $base * 8;
  width: 100%;

  @include media-sm {
    margin-top: $base * 4;
  }
}

.input-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $searchHeight;
  padding-left: $searchPadding;
  border-top: $searchBorder;
  border-bottom: $searchBorder;

  @include media-sm {
    padding: 0 $searchPadding--mobile;
    height: $searchHeight--mobile;
  }
}

.search-icon {
  width: $searchIconWidth;
  margin-right: $searchIconMargin;
  cursor: pointer;

  @include media-sm {
    width: $searchIconWidth--mobile;
    margin-right: $base * 2;
  }
}

.find-country {
  border: none;
  outline: none;
  background: none;
  border-radius: 0;
  box-shadow: none;

  width: 100%;
  font-family: inherit;
  font-size: $fontsizeBig;
  color: white;

  @include media-sm {
    font-size: $fontsizeBig--mobile;
  }
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $primaryLight;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $primaryLight;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: $primaryLight;
}

.autoComplete_list {
  position: absolute;
  top: $searchHeight;
  left: 0;
  right: 0;
  max-height: $searchHeight * 4;
  overflow-y: auto;
  background: $primary;
  list-style: none;
}

.autoComplete_result,
.no-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $searchHeight;
  border-bottom: $searchBorder;
  color: $primaryLight;
  padding-left: $searchPadding + $searchIconWidth + $searchIconMargin;
  padding-right:$searchPadding;

  transition: color $transition, background $transition;

  &:hover {
    color: white;
    background: rgba(white, .2);
  }

  @include media-sm {
    height: $searchHeight--mobile;
    padding: 0 $searchPadding--mobile;
  }
}

.autoComplete_result__number {
  @include media-sm {
    text-align: right;
  }
}

.autoComplete_highlighted {
  font-weight: 800;
  color: white;
}

.action {
  display: inline-block;
  margin: $base*5 auto;
  padding: $base $base*2;
  border: 4px solid white;
  border-radius: $base;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: $fontsizeBig;

  transition: color $transition, background $transition;

  &:hover,
  &:focus {
    background: white;
    color: $primary;
  }

  @include media-sm {
    border-width: 2px;
    font-size: $fontsizeBig--mobile;
  }
}

.hidden {
  display: none;
}

// LEGAL PAGE
.legal {
  max-width: 750px;
  padding: $base*4;
  font-size: 16px;

  * + * {
    margin-top: $base * 2;
  }
}

.legal__back {
  margin: $base*3 auto;
  font-size: 16px;
  color: white;
}