*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  min-height: 100vh; }

body {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  color: white;
  background: #87c1e2; }
  @media (max-width: 900px) {
    body {
      font-size: 18px; } }

.h1 {
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 26px;
  color: white; }
  @media (max-width: 900px) {
    .h1 {
      font-size: 22px; } }

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; }
  @media (max-width: 900px) {
    .main {
      align-items: start;
      padding-top: 25vh; } }

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  max-width: 1000px;
  margin-top: -80px; }
  @media (max-width: 900px) {
    .content {
      margin-top: 0;
      width: 80%;
      align-items: flex-start; } }

.description,
.footer {
  text-transform: uppercase; }

.description {
  text-align: right;
  color: #c3e9ff;
  letter-spacing: 0.05em; }
  @media (max-width: 900px) {
    .description {
      text-align: left; } }

.footer {
  width: 100vw;
  padding: 24px 32px;
  text-align: center; }
  .footer, .footer a {
    font-size: 16px;
    color: #c3e9ff; }
  .footer a {
    transition: color 0.3s ease; }
    .footer a:hover, .footer a:focus {
      color: white; }

.footer__text,
.footer__link {
  display: inline-block; }

.about {
  display: block;
  margin-bottom: 32px;
  padding: 8px;
  color: inherit;
  font-family: inherit;
  font-size: 22px;
  text-transform: uppercase;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s ease; }
  .about:hover, .about:focus {
    color: white; }

.about__overlay {
  position: fixed;
  top: 16px;
  right: 16px;
  bottom: 16px;
  left: 16px;
  padding: 16px;
  background: white;
  color: #87c1e2;
  z-index: 1000;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease; }
  @media (max-width: 900px) {
    .about__overlay {
      padding-top: 40px; } }

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto; }
  @media (max-width: 900px) {
    .about__content {
      display: block; } }

.about__checkbox {
  position: absolute;
  display: none; }
  .about__checkbox:checked + .about__overlay {
    opacity: 1;
    pointer-events: all; }

.about__headline {
  font-size: 26px;
  margin-bottom: 16px; }
  @media (max-width: 900px) {
    .about__headline {
      text-align: left;
      font-size: 22px; } }

.about__text {
  text-transform: none;
  max-width: 750px;
  line-height: 1.5; }
  @media (max-width: 900px) {
    .about__text {
      text-align: left; } }

.about__close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 32px;
  height: 32px;
  cursor: pointer; }
  @media (max-width: 900px) {
    .about__close {
      top: 16px;
      right: 16px;
      width: 24px;
      height: 24px; } }

.about__close__icon {
  width: 100%;
  height: 100%; }

.exit {
  display: flex;
  align-items: center;
  position: fixed;
  top: 15vh;
  right: 0;
  padding: 24px 32px 24px 16px;
  transform: translateX(calc(100% - 56px));
  background: #f37171;
  color: white;
  text-decoration: none;
  border: none;
  outline: none;
  font-size: inherit;
  cursor: pointer;
  transition: transform 0.3s ease; }
  .exit:hover, .exit:focus {
    transform: translateX(0); }
  @media (max-width: 900px) {
    .exit {
      top: 5vh;
      height: 56px;
      padding: 16px 16px 16px 24px;
      transform: translate(0);
      opacity: .8; } }

.exit__icon {
  width: 24px;
  margin-right: 16px; }

.search {
  margin-top: 64px;
  width: 100%; }
  @media (max-width: 900px) {
    .search {
      margin-top: 32px; } }

.input-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding-left: 32px;
  border-top: 2px solid #c3e9ff;
  border-bottom: 2px solid #c3e9ff; }
  @media (max-width: 900px) {
    .input-wrapper {
      padding: 0 8px;
      height: 48px; } }

.search-icon {
  width: 32px;
  margin-right: 24px;
  cursor: pointer; }
  @media (max-width: 900px) {
    .search-icon {
      width: 24px;
      margin-right: 16px; } }

.find-country {
  border: none;
  outline: none;
  background: none;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  font-family: inherit;
  font-size: 26px;
  color: white; }
  @media (max-width: 900px) {
    .find-country {
      font-size: 22px; } }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c3e9ff;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c3e9ff; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c3e9ff; }

.autoComplete_list {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  max-height: 224px;
  overflow-y: auto;
  background: #87c1e2;
  list-style: none; }

.autoComplete_result,
.no-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  border-bottom: 2px solid #c3e9ff;
  color: #c3e9ff;
  padding-left: 88px;
  padding-right: 32px;
  transition: color 0.3s ease, background 0.3s ease; }
  .autoComplete_result:hover,
  .no-result:hover {
    color: white;
    background: rgba(255, 255, 255, 0.2); }
  @media (max-width: 900px) {
    .autoComplete_result,
    .no-result {
      height: 48px;
      padding: 0 8px; } }

@media (max-width: 900px) {
  .autoComplete_result__number {
    text-align: right; } }

.autoComplete_highlighted {
  font-weight: 800;
  color: white; }

.action {
  display: inline-block;
  margin: 40px auto;
  padding: 8px 16px;
  border: 4px solid white;
  border-radius: 8px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  transition: color 0.3s ease, background 0.3s ease; }
  .action:hover, .action:focus {
    background: white;
    color: #87c1e2; }
  @media (max-width: 900px) {
    .action {
      border-width: 2px;
      font-size: 22px; } }

.hidden {
  display: none; }

.legal {
  max-width: 750px;
  padding: 32px;
  font-size: 16px; }
  .legal * + * {
    margin-top: 16px; }

.legal__back {
  margin: 24px auto;
  font-size: 16px;
  color: white; }
